.employees{
    display: flex;
    flex-wrap: nowrap;

    // padding-left: 30px;
    // padding-right: 20px;
    // padding-bottom: 30px;
}

.sidebar {
//   margin-left: 30px;
  width: 340px;

  @media screen and (max-width: 949px) {
      display: none;
  }
}

.sidebar__search-form{
    padding-left: 27px;
}

.sidebar__input{
    border: none;
    &::after{
        content: "";
        background-image: url('');
    }
}

.sidebar__item{
    padding: 20px 27px;
    opacity: 1;

    &:nth-child(odd){
        background-color: #E7E6E1;
        opacity: 0.5;
    }
}

.sidebar__link{
    display: flex;
    align-items: center;
}

.sidebar__user-img{
    margin-right: 12px;
}

// .sidebar__user-container::before {
//     content: url('../images/user-img/first-human.png');
// }

.sdiebar__user-name{
    font-size: 13px;
    color: #058DC7;
} 

.sdiebar__user-position{
    font-size: 13px;
    color: #808080;
} 

.sdiebar__user-active{
    display: inline-block;
    text-align: center;

    padding-left: 4px;

    padding-right: 4px;
    border-radius: 4px;

    font-size: 11px;

    color: #ffffff;
    background-color: #2DD0C6;

    .sidebar__item:nth-child(odd) &{
        background-color: #EE144E;
    }
}

.sidebar_user-ball {
    font-size: 20px;
    font-weight: 500;
    margin-left: auto;
    color: #A2A2A2;

}